configparser
selenium
nose-html-reporting
nose-progressive
paramiko
pycurl
scapy
unittest2
scp
XlsxWriter
wget
ptyprocess
bs4
Jinja2
nose_xunitmp
nose-excel
nose-html
nose-htmloutput
nose-testconfig
openpyxl
pexpect
setuptools
six
urllib3